.expression__item {
  list-style: none;
  padding: 10px;
  min-width: 100px;
  max-width: 300px;
  text-align: center;
  background-color: rgba(108, 212, 255, 0.5);
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
}
