.task-preview {
  &__main {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-bottom: 15px;
    &--generation {
      margin-left: 30px;
      max-width: 380px;
    }
  }
  &__title {
    font-weight: normal;
    font-size: 24px;
    margin: 0;
    margin-bottom: 5px;
  }
  &__subtitle {
    font-size: 14px;
    color: #8c8c8c;
    margin: 0;
    margin-bottom: 25px;
  }

  &__param {
    padding: 5px 10px;
    background-color: #263d42;
    color: #fff;
    margin-right: 10px;
    border-radius: 10px;
  }
  &__generations {
    padding: 30px;
    max-width: 380px;
  }
  &__generation-answer {
    padding: 5px 10px;
    border-radius: 10px;
    &--right {
      background-color: #63c7b2;
    }
  }
}
