.button {
  padding: 11px 15px 12px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.9px;
  color: #fff;
  background-color: #2eb8f2;
  border: 0;
  border-radius: 10px;
  margin-right: 15px;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 30px;
  transition: 0.2s all ease;
  &:hover {
    background-color: darken(#2eb8f2, 7);
  }
  &--popup {
    background-color: #666;
  }
  &--add {
    margin-top: 30px;
    margin-left: 10px;
    white-space: nowrap;
  }
  &--primary {
    margin-bottom: 0px;
    margin-left: 0;
  }
  &--upload {
    background-color: #28bda5;
    display: inline-block;
    &:hover {
      background-color: lighten(#28bda5, 3);
    }
  }
  &--upload-big {
    display: block;
    width: 100%;
    height: 200px;
    background-color: rgba(91, 187, 228, 0.25);
    color: transparent;
    position: relative;
    &:hover {
      background-color: rgba(91, 187, 228, 0.5);
    }
    &:after,
    &:before {
      content: '';
      display: block;
      width: 50px;
      height: 5px;
      background-color: #5bbbe4;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &:before {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
  &--hidden {
    display: none;
  }
  &--full-width {
    width: 100%;
  }
  &--secondary {
    background-color: #deeff3;
    color: #000;
    &:hover {
      background-color: darken(#deeff3, 5);
    }
  }
  &--selected {
    background-color: #5883c6;
  }
  &--no-margin-bottom {
    margin-bottom: 0;
  }
  &--back {
    padding: 10px 45px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 27px;
      top: 13px;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-right: 7px solid #000;
      border-bottom: 5px solid transparent;
    }
  }
  &--active {
    background-color: #5883c6;
  }
  &--select {
    margin-left: 0;
    padding-right: 30px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      right: 9px;
      top: 13px;
      background-image: url('../../images/down-arrow.svg');
      width: 15px;
      height: 15px;
      background-size: contain;
    }
  }
  &--select-element {
    margin-left: 0;
    background-color: #2eb8f2;
  }
}
