.content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  width: 900px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &--create {
    position: relative;
    margin: 0;
    margin-left: 30px;
    margin-top: 30px;
  }
  &__test {
    position: fixed;
    left: 960px;
    top: 92px;
    max-height: 100vh;
    overflow: scroll;
    width: 600px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 20px;
    background-color: #fff;
  }
  &__title {
    font-weight: normal;
    display: block;
    font-size: 24px;
    margin-bottom: 30px;
    margin-left: 24px;
    margin-right: 15px;
  }
  &__fragment {
    margin: 50px 0px;
    padding: 0 24px;
  }
}
