.content {
  display: flex;
  flex-wrap: wrap;
  padding-left: 180px;
  height: 100vh;
  overflow: scroll;
  flex-grow: 1;
  background-color: #fff;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
  &__main {
    width: 65%;

    &--create-test {
      height: 100%;
      overflow: scroll;
    }
  }
  &__secondary {
    // position: fixed;
    position: relative;
    top: 0;
    right: 0;
    margin: 0;
    width: 35%;
    height: 100vh;
    padding: 20px;
    padding-bottom: 40px;
    overflow: scroll;
    background-color: #f4f6f9;
    &.task-preview {
      position: fixed;
    }
    &--disabled {
      &:after {
        content: '';
        top: 0;
        left: 0;
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgba(#000, 0.7);
        z-index: 9;
      }
      &:before {
        content: 'Ничего не выбрано';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 45%;
        font-size: 24px;
        color: #fff;
        z-index: 10;
      }
    }
  }
  &__secondary-submit {
    position: fixed;
    width: 30%;
    right: 0;
    bottom: -14px;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.24);
    padding: 0px 15px;
    background-color: #f4f6f9;
    padding-top: 15px;
  }
  &__wrapper {
    display: flex;
  }
  &__test {
    position: fixed;
    left: 960px;
    top: 92px;
    height: 88vh;
    overflow: scroll;
    width: 600px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 20px;
    background-color: #fff;
  }
  &__row {
    width: 100%;
    display: flex;
    align-items: bottom;
  }
  &__title {
    font-weight: normal;
    display: block;
    font-size: 24px;
    margin-bottom: 30px;
    margin-left: 24px;
    margin-right: 15px;
  }
  &__fragment {
    margin: 50px 0px;
    padding: 0 24px;
  }
}
