.select {
  // width: 210px;
  position: relative;
  margin-bottom: 15px;
  display: flex;
  &__list {
    display: none;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 30px;
    width: 150px;
    border: 1px solid black;
    font-size: 1rem;
    line-height: 1.25;
    background-color: #efefef;
    &--enabled {
      display: block;
    }
  }
  &__list-item {
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-family: 'Roboto';
    text-align: center;
    &:hover {
      background-color: #fcfcfc;
    }
  }
  &__label {
  }
  &__controls {
    position: relative;
  }
  &--defaults {
    margin-bottom: 0;
  }
  &--in-row {
    display: inline-block;
    margin-right: 15px;
    .select__label {
      display: inline-block;
      margin-bottom: 15px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &--half {
    width: 50%;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
}
