.drag-column {
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: #ccc;
  margin-bottom: 15px;
  &__list {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    padding: 8px;
    &--in-drag {
      background-color: #999;
    }
  }
  &__title,
  &__edit-title {
    font-size: 18px;
    font-weight: normal;
    border: none;
    margin: 15px;
    padding: 0;
    line-height: 18px;
    background-color: transparent;
    outline: none;
  }
  &__item {
    padding: 8px;
    background-color: #4f4f4f;
    margin-bottom: 5px;
    transition: 0.3s background-color ease;
    &--in-drag {
      background-color: #61e786;
    }
  }
}
