.expressions {
  margin-bottom: 15px;
}
.expressions__title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: normal;
}
.expressions__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
