.tests-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 65%;
  &__test {
    width: 100%;
    cursor: pointer;
  }
  &__title {
    font-size: 30px;
  }
  &__test-title {
    font-size: 24px;
  }
  &__generations {
    border-top: 1px dashed #999;
  }
}
